<h1><%= link_to 'My Fridge', fridge_path(@fridge) unless @fridge.blank? %></h1>
<h1><%= link_to 'Grocery List', grocerylist_path(@grocerylist) unless @grocerylist.blank? %></h1>
<h1><%= link_to 'Recipes', recipes_path %></h1>
