<div class="sign-up">
  <h2>Now...Give Your Fridge a Name!</h2>
  <p>
    This can either be something simple like "Fridge", or more customized like "Jane's Fridge."
  </p>

  <%= render "form" %>
</div>
