<div class="home-page">
  <div class="website-opener">
    <div class="text">
      organize your kitchen
      <p><%= link_to 'Get Started', @get_started_link, class: 'button' %></p>
    </div>
  </div>

  <div class="row">
    <div class="one small-6 columns">
      Update your fridge with groceries, and FridgeButler will let you know when they expire
    </div>
    <div class="small-6 columns">
      <%= image_tag('tomatoes.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= image_tag('grocery-cart.jpg') %>
    </div>
    <div class="two small-6 columns">
      Keep your grocery list throughout the week and move your groceries automatically into your fridge when you're done shopping
    </div>
  </div>
  <div class="row">
    <div class="three small-6 columns">
      Search for recipes based on what you have in your fridge
    </div>
    <div class="small-6 columns">
      <%= image_tag('vegetables.jpg') %>
    </div>
  </div>

</div>
