<div class="home-page">
  <div class="website-opener">
    <div class="text">
      organize your kitchen
      <p><%= link_to 'Get Started', @get_started_link, class: 'button' %></p>
    </div>
  </div>
