<div class="learn-more">
  <h1>ABOUT FRIDGE BUTLER</h1>

  <div class="row">
    <div class="one small-6 columns">
      <h3>GET A REMINDER WHEN YOUR GROCERIES EXPIRE</h3>
      <p>
        When you create your account, FridgeButler will ask you to create categories to organize your groceries. Within these categories, you can add your groceries, and provide a customizable expiration date. FridgeButler will automatically send you a reminder email two days before your groceries expire.
      </p>
    </div>
    <div class="small-6 columns">
      <%= image_tag('tomatoes.jpg') %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= image_tag('grocery-cart.jpg') %>
    </div>
    <div class="two small-6 columns">
      <h3>UPDATE YOUR GROCERY LIST</h3>
      <p>
        With FridgeButler you'll also create your own grocery list, where you can manage the groceries that you need. While you're shopping you can click the "accept" button on your grocery and it will automatically be moved to your fridge.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="three small-6 columns">
      <h3>SEARCH FOR RECIPES BASED ON YOUR FRIDGE</h3>
      <p>
        With FridgeButler's search recipe feature, you can select certain items from your fridge to cook tonight. After you select the ingredients you want to use from your fridge you'll be given top rated recipes for those ingredients.
      </p>
    </div>
    <div class="small-6 columns">
      <%= image_tag('vegetables.jpg') %>
    </div>
  </div>
  <div class="get-started">
    <%= link_to 'GET STARTED', @get_started_link %>
  </div>
</div>
