.choose-groceries {
  h1 {
    background-image: url('https://static.pexels.com/photos/139374/pexels-photo-139374.jpeg');
    background-size: 100% auto;
    color: white;
    font-family: Eczar;
    padding: 10rem;
    background-repeat: no-repeat;
    text-align: center;
  }

  p {
    text-align: center;
    float: center;
    font-family: Eczar;
  }

  label {
    font-size: 2rem;
  }
}
