.fridges-index {
  h1 {
    font-family: Eczar;
    text-shadow: $dark-gray 0px 0px 1px, $dark-gray 0px 0px 1px, $dark-gray 0px 0px 1px, $dark-gray 0px 0px 1px, $dark-gray 0px 0px 1px;
    margin: 3rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 12rem;
    text-align: center;
    color: white;
  }

  #fridge {
    background-image: url('salad.jpg');
  }

  #grocerylist {
    background-image: url('kitchen-tools.jpg');
  }

  #recipes {
    background-image: url('pie.jpg');
  }

  a {
    color: white;
    font-weight: bold;
  }
}
