.fridge-page {
  font-family: Eczar;
  text-align: center;
  h1 {
    font-family: Eczar;
  }
  h3 {
    font-family: Eczar;
  }
  li {
    list-style: none;
  }
}

.fa-times {
  font-size: 1rem;
  color: $medium-gray;
  float: center;
}
