// #FFE891
.website-opener {
  background-image: url('https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.9;
  color: white;
  font-family: Eczar;
  text-align: center;
  padding: 25%;
  font-size: 1.4rem;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: Eczar;
  margin: 1rem;
}
