.home-page {
  background-color: $light-gray;
}

// #FFE891
.website-opener {
  background-image: url('cutting-board.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.9;
  color: white;
  font-family: Eczar;
  text-align: center;
  padding: 20rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: Eczar;
  margin: 1rem;
}
