.my-account {
  text-align: center;
  font-family: Eczar;
  background-image: url('ingredients.jpeg');
  background-repeat: no-repeat;
  padding: 20rem;
  background-size: 100% auto;
  color: white;
  font-weight: bold;

  h1 {
    font-family: Eczar;
  }

  h3 {
    font-family: Eczar;
  }

  input {
    color: black;
    font-weight: normal;
  }
}
