.my-account {
  text-align: center;
  font-family: Eczar;
  background-image: url('https://static.pexels.com/photos/106877/pexels-photo-106877.jpeg');
  background-repeat: no-repeat;
  padding: 25%;
  background-size: 100% auto;
  color: white;
  font-weight: bold;

  .user {
    background-color: black;
    opacity: 0.75;
    padding: 1rem;
  }

  h1 {
    font-family: Eczar;

  }

  h3 {
    font-family: Eczar;
  }

  input {
    color: black;
    font-weight: normal;
  }
}
