.title-area {
  color: white;
  font-size: 2rem;

  .fridge {
    font-family: Great Vibes;
    font-size: 2.5rem;
  }

  .butler {
    font-family: Eczar;
  }
}

.top-bar .option {
  list-style: none;
  font-family: Eczar;
  padding: 1rem;
  float: right;

  :link {
    color: white;
  }

  :visited {
    color: white;
  }
}
