.title-area {
  background-color: #4ca5ff;
  color: white;
  font-size: 4rem;
  text-align: center;

  .fridge {
    font-family: Great Vibes;
    font-size: 4.5rem;
  }

  .butler {
    font-family: Eczar;
  }
}

.top-bar li {
  list-style: none;
  background-color: #4ca5ff;

  :link {
    color: white;
  }

  :visited {
    color: white;
  }
}
